#start, #stop ,#reset {
  height: 2em;
  margin: 5px;
  font-size: 13px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card-chrono{
  padding: 10px 0px;
}