.tic-tac-window{ 
  width: 40vh;
  height: 60%; 
  margin: 20px auto ;
  text-align: center;
}

.card-tic-tac{
  border-radius: 5px;
  width: 85%;
  background-color: #464141;
  margin: 10px auto;
  padding: 0px 0px 10px 0px;

}

#grid {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  grid-auto-rows: 2rem 2rem 2rem;
  gap: 1rem;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  
}

.case {
  border: 2px solid lightgrey;
  border-radius: 2px;
  font-size: 1.5rem;
 
}
p:first-of-type {
  color: lightseagreen;
}

input[type="button" i] {
  margin: 5px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}