.tic-tac-window{ 
  width: 40vh;
  height: 60%; 
  margin: 20px auto ;
  text-align: center;
}

.card-tic-tac{
  border-radius: 5px;
  width: 80%;
  background-color: #464141;
  margin: 30px auto;
 
}

#grid {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  grid-auto-rows: 2rem 2rem 2rem;
  gap: 1rem;
  align-content: center;
  justify-content: space-around;
  background-color: red;
  
}

.case {
  border: 2px solid lightgrey;
  border-radius: 2px;
  font-size: 3rem;
 
}
p:first-of-type {
  color: lightseagreen;
}
