* {
    /* Here we set the margin and padding  0 */
    margin: 0;

    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: brown;
}

.nav-list {
    height: 30px;
    background-color: pink;
    padding: 1em;
}

.nav-list li {
    list-style: none;
    padding: 10px 10px;
    float: right;

}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.ch,
.cs,
.cm,
.annee,
.mois,
.jour {
    display: none;
}

.dark-mode {
    background: #000;
    color: #fff;
}


.light-mode {
    background: #fff;
    color: #000;
}

.none-mode {
    display: none;
}

.block-mode {
    display: block;
}

.batterie {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 8px;
    height: 1px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;



}