* {
    /* Here we set the margin and padding  0 */
      margin: 0; 
      
        padding: 0;
    }
      
    .navbar {
        display: flex;
        background-color: brown;
    /* This is used to make the navbar sticky, So that the
        navbar stays at the top part even if we scroll */
        position: sticky; 
        align-items: center;
        justify-content: center;
        top: 0px;

    /*it specifies the mouse cursor to be displayed
        when it is pointed over the element */
        cursor: pointer;
    }
      
    .nav-list {
        display: flex;
        background-color: pink;
        margin-left: 50%;
    }
      
    .nav-list li {
        list-style: none;
        padding: 26px 30px;
       
    }

    .nav-list li a {
        text-decoration: none;
        color: white;
    }
    .config-heure {
        background-color: aqua;
    }

    .ch, .cs ,.cm , .annee, .mois, .jour{
        display: none;
    }

    .dark-mode{
        background: #000;
        color: #fff;
    }


    .light-mode{
        background:#fff;
        color:  #000;
    }

    .none-mode{
       display: none;
    }


    .block-mode{
        display: block;
    }
